

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Modifier chapitre</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        {{ form_start(form) }}
    <div class="card-body">
        <!-- Titre -->
        <div class="form-group">
            {{ form_label(form.title, 'Titre') }}
            {{ form_widget(form.title, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Entrez le titre du chapitre'
                }
            }) }}
            {{ form_errors(form.title) }} {# Afficher les erreurs pour le titre #}
        </div>

        <!-- Ordre du chapitre -->
        <div class="form-group">
            {{ form_label(form.chapOrder, 'Ordre du chapitre') }}
            {{ form_widget(form.chapOrder, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Entrez l\'ordre du chapitre'
                }
            }) }}
            {{ form_errors(form.chapOrder) }} {# Afficher les erreurs pour l'ordre #}
        </div>

        <!-- Durée estimée -->
        <div class="form-group">
            {{ form_label(form.duree_estimee, 'Durée estimée en heure') }} {# Correction du label #}
            {{ form_widget(form.duree_estimee, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Entrez la durée du chapitre (en minutes)'
                }
            }) }}
            {{ form_errors(form.duree_estimee) }} {# Afficher les erreurs pour la durée #}
        </div>

        <!-- Fichier PDF -->
        <div class="form-group">
            {{ form_label(form.brochure, 'Fichier PDF') }} {# Correction du label #}
            {{ form_widget(form.brochure, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Sélectionnez un fichier PDF'
                }
            }) }}
            {{ form_errors(form.brochure) }} {# Afficher les erreurs pour le fichier #}
            <small class="form-text text-muted">Formats acceptés : PDF (max 10Mo)</small>
        </div>
    </div>
            <!-- /.card-body -->

             <div class="card-footer">
            <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        </div>
        {{ form_end(form) }}
    </div>
