{% extends 'base.html.twig' %}

{% block title %}Knowlity{% endblock %}


    

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}






{% block body %}
  <!-- ***** Main Banner Area Start ***** -->
    <section class="main-banner" id="top">
        <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
            <div class="header-text">
                <h6>Welcome to Knowlity</h6>
                <h2>Master New Skills Through <em>Interactive Learning!</em></h2>
                <div class="main-button-gradient">
                <div class="scroll-to-section"><a href="#courses-section">Explore Learning Paths</a></div>
                </div>
            </div>
            </div>
            <div class="col-lg-6">
            <div class="right-image">
                <img src="{{ asset('assets/images/banner-right-image.png') }}" alt="Online Learning Platform Interface">
            </div>
            </div>
        </div>
        </div>
    </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="get-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="{{ asset('assets/images/about-left-image.png') }}" alt="Knowlity Platform Overview">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h6>Discover Knowlity</h6>
            <h4>Your Gateway to <em>Smart Learning</em></h4>
            <p>Knowlity is revolutionizing online education by combining comprehensive courses, interactive assessments, and AI-powered support. Our platform offers:<br><br>
            • 500+ expert-led courses across various disciplines<br>
            • Live virtual events with industry professionals<br>
            • Certified exam preparation resources<br>
            • Adaptive quizzes with instant feedback<br>
            • 24/7 AI learning assistant</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="info-item">
                <div class="icon">
                  <img src="{{ asset('assets/images/service-icon-01.png') }}" alt="Learning Paths">
                </div>
                <h4>Personalized Paths</h4>
                <p>AI-driven recommendations to match your learning style and career goals.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info-item">
                <div class="icon">
                  <img src="{{ asset('assets/images/service-icon-02.png') }}" alt="Interactive Learning">
                </div>
                <h4>Smart Assessments</h4>
                <p>Real-time quizzes and mock exams with performance analytics.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="services" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Our Features</h6>
            <h4>Core <em>Learning Services</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{ asset('assets/images/service-icon-01.png') }}" alt="Courses">
                </div>
                <h4>Expert Courses</h4>
                <p>Industry-leading courses with professional certification programs.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{ asset('assets/images/service-icon-02.png') }}" alt="Events">
                </div>
                <h4>Live Events</h4>
                <p>Interactive webinars and workshops with Q&A sessions.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{ asset('assets/images/service-icon-03.png') }}" alt="Exams">
                </div>
                <h4>Exam Prep</h4>
                <p>Comprehensive test banks and timed practice exams.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{ asset('assets/images/service-icon-04.png') }}" alt="AI Tutor">
                </div>
                <h4>AI Tutor</h4>
                <p>24/7 intelligent assistance for instant learning support.</p>
              </div>
            </div>
            <!-- Repeat core services for carousel effect -->
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{ asset('assets/images/service-icon-01.png') }}" alt="Progress Tracking">
                </div>
                <h4>Skill Tracking</h4>
                <p>Detailed analytics to monitor your learning progress.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{{ asset('assets/images/service-icon-02.png') }}" alt="Collaboration">
                </div>
                <h4>Study Groups</h4>
                <p>Collaborative learning spaces with peer interaction.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>OUR COURSES</h6>
            <h4>What You Can <em>Learn</em></h4>
            <p>You just think about TemplateMo whenever you need free CSS templates for your business website</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="active gradient-border"><span>Web Development</span></div>
                    <div class="gradient-border"><span>Graphic Design</span></div>
                    <div class="gradient-border"><span>Web Design</span></div>
                    <div class="gradient-border"><span>WordPress</span></div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="left-image">
                          <img src="{{ asset('assets/images/courses-01.jpg') }}" alt="">
                          <div class="price"><h6>$128</h6></div>
                        </div>
                        <div class="right-content">
                          <h4>Web Development</h4>
                          <p>Did you know that you can visit <a rel="nofollow" href="https://www.toocss.com/" target="_blank">TooCSS website</a> for latest listing of HTML templates and a variety of useful templates. 
                          <br><br>You just need to go and visit that website right now. IF you have any suggestion or comment about this template, you can feel free to go to contact page for our email address.</p>
                          <span>36 Hours</span>
                          <span>4 Weeks</span>
                          <span class="last-span">3 Certificates</span>
                          <div class="text-button">
                            <a href="contact-us.html">Subscribe Course</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="{{ asset('assets/images/courses-02.jpg') }}" alt="">
                          <div class="price"><h6>$156</h6></div>
                        </div>
                        <div class="right-content">
                          <h4>Creative Graphic Design</h4>
                          <p>You are not allowed to redistribute this template ZIP file on any other website without a permission from us.<br><br>There are some unethical people on this world copied and reposted our templates without any permission from us. Their Karma will hit them really hard. Yeah!</p>
                          <span>48 Hours</span>
                          <span>6 Weeks</span>
                          <span class="last-span">1 Certificate</span>
                          <div class="text-button">
                            <a href="contact-us.html">Subscribe Course</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="{{ asset('assets/images/courses-03.jpg') }}" alt="">
                          <div class="price"><h6>$184</h6></div>
                        </div>
                        <div class="right-content">
                          <h4>Web Design</h4>
                          <p>Quinoa roof party squid prism sustainable letterpress cray hammock tumeric man bun mixtape tofu subway tile cronut. Deep v ennui subway tile organic seitan.<br><br>Kogi VHS freegan bicycle rights try-hard green juice probably haven't heard of them cliche la croix af chillwave.</p>
                          <span>28 Hours</span>
                          <span>4 Weeks</span>
                          <span class="last-span">1 Certificate</span>
                          <div class="text-button">
                            <a href="contact-us.html">Subscribe Course</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="{{ asset('assets/images/courses-04.jpg') }}" alt="">
                          <div class="price"><h6>$76</h6></div>
                        </div>
                        <div class="right-content">
                          <h4>WordPress Introduction</h4>
                          <p>Quinoa roof party squid prism sustainable letterpress cray hammock tumeric man bun mixtape tofu subway tile cronut. Deep v ennui subway tile organic seitan.<br><br>Kogi VHS freegan bicycle rights try-hard green juice probably haven't heard of them cliche la croix af chillwave.</p>
                          <span>48 Hours</span>
                          <span>4 Weeks</span>
                          <span class="last-span">2 Certificates</span>
                          <div class="text-button">
                            <a href="contact-us.html">Subscribe Course</a>
                          </div>
                        </div>
                      </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <div class="left-image">
            <img src="{{ asset('assets/images/cta-left-image.png') }}" alt="Learning Opportunities">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h6>Limited Time Offer</h6>
          <h4>Enroll Now & Get 30% Off</h4>
          <p>Start your learning journey today with full access to all courses, premium features, and exclusive event invitations.</p>
          <div class="white-button">
            <a href="/courses">Explore Programs</a>
          </div>
        </div>
      </div>
    </div>
  </section>




{% endblock %}






{% block javascripts %}
    <script src="{{ asset('assets/js/home.js') }}"></script>
{% endblock %}