{% extends 'base.html.twig' %}
	{% set sessionData = app.session.all %}
{% block title %}My Events{% endblock %}
{% block stylesheets %}

	{% if app.session.get('roles') is null %}
        <script type="text/javascript">
            window.location.href = "{{ path('app_login') }}";
        </script>
    {% endif %}
    {% if app.session.get('deleted') ==1%}
        <script type="text/javascript">
            window.location.href = "{{ path('logout') }}";
        </script>
    {% endif %}



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css">

  <link href="{{ asset('assets/plugins/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/plugins/bootstrap/bootstrap-slider.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/plugins/slick/slick.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/plugins/slick/slick-theme.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/plugins/jquery-nice-select/css/nice-select.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/events.css') }}">
{% endblock %}

{% block body %}
<section class="dashboard section">
	<!-- Container Start -->
	<div class="container">
		<!-- Row Start -->
		<div class="row">
			<div class="col-lg-4">
				<div class="sidebar">
					<!-- User Widget -->
					<div class="widget user-dashboard-profile">
						<!-- User Image -->
						<div class="profile-thumb">
							<img src="http://localhost/demo/src/main/resources/images/{{ sessionData.image }}" alt="" class="rounded-circle">
						</div>
						<!-- User Name -->
						<h5 class="text-center">{{ sessionData.user_nom }}  {{ sessionData.user_prenom }}</h5>
						<p>user info</p>
					</div>
					<!-- Dashboard Links -->
					<div class="widget user-dashboard-menu">
						<ul>
							<li class="active">
								<a href="{{ path('app_events_my_events') }}"><i class="fa fa-user"></i> My Events<span>{{ events|length }}</span></a></li>
							<li>
								<a href="{{ path('app_events_my_registration') }}"><i class="fa fa-bookmark-o"></i> My Reservations <span>{{ registrations|length }}</span></a>
							</li>
						</ul>
					</div>


				</div>
			</div>
			<div class="col-lg-8">
				<!-- Recently Favorited -->
				<div class="widget dashboard-container my-adslist">
					<h3 class="widget-header">My Events</h3>
					<table class="table table-responsive product-dashboard-table">
						<thead>
							<tr>
								<th class="image-column">Image</th>
								<th class="event-title-column">Event Title</th>
								<th class="text-center">Category</th>
								<th class="text-center">Action</th>
							</tr>

						</thead>
						<tbody>
						{% for event in events %}
							<tr>
								<td class="product-thumb">
									<img class="event-image" width="80px" height="auto" border-radius="20%" src="http://localhost/demo/src/main/resources/images/{{ event.image }}" alt="image description"></td>
								<td class="product-details">
									<h3 class="title">{{ event.title }}</h3>
									<span><strong>Posted on: </strong><time>{{ event.createdAt ? event.createdAt|date('Y-m-d ') : '' }}</time> </span>
									{% set now = "now"|date("Y-m-d H:i:s") %}

									{% if event.startDate|date("Y-m-d H:i:s") > now %}
										{% set status = 'Upcoming' %}
										{% set statusClass = 'upcoming' %}
									{% elseif event.startDate|date("Y-m-d H:i:s") <= now and event.endDate|date("Y-m-d H:i:s") >= now %}
										{% set status = 'Active' %}
										{% set statusClass = 'active' %}
									{% else %}
										{% set status = 'Ended' %}
										{% set statusClass = 'ended' %}
									{% endif %}

									<span class="status {{ statusClass }}"><strong>Status:</strong> {{ status }}</span>
									{% if event.location  is null %}
										{% set location = 'On line' %}
									{% else %}
										{% set location = event.location %}
									{% endif %}
									<span class="location"><strong>Location:</strong>{{ location }}</span>
								</td>
								<td class="product-category"><span class="categories">{{ event.category }}</span></td>
								<td class="action" data-title="Action">
									<div class="">
										<ul class="list-inline justify-content-center">
											<li class="list-inline-item">
												<a data-toggle="tooltip" data-placement="top" title="View" class="view" href="{{ path('app_events_show', {'id': event.id}) }}">
													<i class="fa fa-eye"></i>
												</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							{% else %}
							<tr>
								<td colspan="6">no records found</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>

				</div>


			</div>
		</div>
		<!-- Row End -->
	</div>
	<!-- Container End -->
</section>

{% endblock %}

{% block javascripts %}
    <!-- jQuery (required) and Nice Select JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>

    <script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap/popper.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap/bootstrap-slider.js') }}"></script>
    <script src="{{ asset('assets/plugins/tether/js/tether.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/raty/jquery.raty-fa.js') }}"></script>
    <script src="{{ asset('assets/plugins/slick/slick.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-nice-select/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ asset('assets/js/event.js') }}">
    <script>
    $(document).ready(function() {
        $('select').niceSelect();
    });
    </script>

{% endblock %}